<div class="flex flex-col min-h-screen">
  <app-header-connected></app-header-connected>
  <main class="flex-auto md:flex md:flex-col md:items-center">
    <h1 class="Jersey10 text-[32px] text-center p-2 m-2">Profil</h1>
    <form
      class="md:w-1/2  p-4 m-5 bg-[#EFE9E7] rounded-[20px] flex flex-col shadow-[0_1px_4px_#21212170]"
    >
      <article class="flex flex-col p-3 w-full">
        <label for="" class="underline">Nom :</label>
        <input
          type="text"
          placeholder="Nom..."
          class="bg-[#FFF9FB] h-[40px] placeholder:text-gray-500 placeholder:opacity-50 placeholder:italic rounded-[5px] text-center shadow-[0_2px_2px_rgba(33,33,33,0.50)]"
        />
      </article>
      <article class="flex flex-col p-3 w-full">
        <label for="" class="underline"> Prénom :</label>
        <input
          type="text"
          placeholder="Prénom..."
          class="bg-[#FFF9FB] h-[40px] placeholder:text-gray-500 placeholder:opacity-50 placeholder:italic rounded-[5px] text-center shadow-[0_2px_2px_rgba(33,33,33,0.50)]"
        />
      </article>
      <article class="flex flex-col p-3 w-full">
        <label for="" class="underline"> Email :</label>
        <input
          type="text"
          placeholder="Email..."
          class="bg-[#FFF9FB] h-[40px] placeholder:text-gray-500 placeholder:opacity-50 placeholder:italic rounded-[5px] text-center shadow-[0_2px_2px_rgba(33,33,33,0.50)]"
        />
      </article>
      <article class="flex flex-col p-3 w-full">
        <label for="" class="underline">Mot de passe :</label>
        <input
          type="text"
          placeholder="Mot de passe..."
          class="bg-[#FFF9FB] h-[40px] placeholder:text-gray-500 placeholder:opacity-50 placeholder:italic rounded-[5px] text-center shadow-[0_2px_2px_rgba(33,33,33,0.50)]"
        />
      </article>
      <button
        type="submit"
        (click)="ProfilsUser()"
        class="bg-[#FFF9FB] m-4 h-[40px] rounded-[5px] shadow-[inset_0_2px_2px_rgba(33,33,33,0.5)]"
      >
        Modifier
      </button>
    </form>
  </main>
  <app-footer></app-footer>
</div>
