<div class="flex flex-col min-h-screen">
  <app-header-dc></app-header-dc>
  <main class="flex-auto">
    <h1 class="text-center p-2 m-2 Jersey10 text-[32px]">Les Mongoles Fiers</h1>
    <section class="p-4 md:p-20">
      <h2 class="Agdasima text-[32px] lg:text-[42px]">Mentions Légales</h2>
      <section class="Agdasima">
        <h3 class="text-[20px] md:text-[24px] lg:text-[32px] underline my-2">
          Éditeur du site :
        </h3>
        <ol class="text-[16px] md:text-[20px] lg:text-[24px]">
          <li>Nom du site : Les Mongoles Fiers</li>
          <li>Responsable de la publication : Karim Djamaliev</li>
          <li>Adresse : 23 rue des Nomades, 75010 Paris, France</li>
          <li>Contact : contactlesmongolesfiers.fr</li>
          <li>Raison sociale : Djamaliev Studio</li>
          <li>Statut juridique : Auto-entrepreneur</li>
          <li>SIRET : 891 452 678 00024</li>
        </ol>
      </section>
      <section class="Agdasima">
        <h3 class="text-[20px] underline md:text-[24px] lg:text-[32px] my-2">
          Propriété intellectuelle :
        </h3>
        <p class="md:text-[20px] lg:text-[24px]">
          L’ensemble des contenus présents sur le site Les Mongoles Fiers
          (textes, images, vidéos, logos, etc.) sont protégés par les lois en
          vigueur sur la propriété intellectuelle, et sont la propriété
          exclusive de leur auteur, sauf mention contraire. Toute reproduction,
          représentation, modification, publication, adaptation de tout ou
          partie du site, quel que soit le moyen ou le procédé utilisé, est
          interdite sauf autorisation écrite préalable.
        </p>
      </section>
      <section class="Agdasima">
        <h3 class="text-[20px] underline md:text-[24px] lg:text-[32px] my-2">
          Données personnelles :
        </h3>
        <p class="md:text-[20px] lg:text-[24px]">
          Le site Les Mongoles Fiers peut être amené à collecter des données
          personnelles dans le cadre de [formulaires de contact, newsletter,
          commentaires, etc.]. Conformément au Règlement Général sur la
          Protection des Données (RGPD), vous disposez d’un droit d’accès, de
          rectification, de suppression, d’opposition et de portabilité de vos
          données. Pour toute demande, vous pouvez nous contacter à :
          contactlesmongolesfiers.fr
        </p>
      </section>
      <section class="Agdasima">
        <h3 class="text-[20px] underline md:text-[24px] lg:text-[32px] my-2">Cookies :</h3>
        <p class="md:text-[20px] lg:text-[24px]">
          Le site peut utiliser des cookies à des fins de statistiques et
          d’amélioration de l’expérience utilisateur. Vous pouvez configurer
          votre navigateur pour refuser ces cookies. Limitation de
          responsabilité Les informations proposées sur le site Les Mongoles
          Fiers sont fournies à titre indicatif. Le propriétaire du site ne
          saurait être tenu responsable des erreurs, omissions ou d’une absence
          de mise à jour des contenus. Droit applicable Le site et son contenu
          sont soumis au droit français. Tout litige relatif au site sera de la
          compétence exclusive des tribunaux français.
        </p>
      </section>
    </section>
  </main>
  <app-footer></app-footer>
</div>
